<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <description>Portal sebastian.cl</description>

    <!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:sebastian-modelo-context.xml,
            classpath:sebastian-portal-context.xml
        </param-value>
    </context-param>
    
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>cl.sebastian.webutils.spring.CustomXmlWebApplicationContext</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
        <param-value>0</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>

    <!--
    reCAPTCHA
    Domain Name: 	sebastian.cl
    Public Key: 	asdf
    Private Key: 	asdf
    -->
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>${recaptcha.public.key}</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>${recaptcha.private.key}</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>    
    
    
    <!-- Sesion Hibernate para todo el requerimiento http -->
    <filter>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
        <init-param>
            <param-name>sessionFactoryBeanName</param-name>
            <param-value>entityManagerFactory</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>*.jsf</url-pattern>
    </filter-mapping>
    <!-- Fin Sesion Hibernate -->    

    
    <!-- Theme Primefaces -->
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>cruze</param-value>
    </context-param>
    <!-- Fin theme -->
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Manejo de Errores -->
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/index.jsp</location>
    </error-page>
    
    <!-- No autorizado -->
    <error-page>
        <error-code>401</error-code>
        <location>/error/deny.jsf</location>
    </error-page>
    
    <!-- Prohibido -->
    <error-page>
        <error-code>403</error-code>
        <location>/error/deny.jsf</location>
    </error-page>
    
    <!-- No encontrado -->
    <error-page>
        <error-code>404</error-code>
        <location>/error/notfound.jsf</location>
    </error-page>
    
    <!-- Error interno -->
    <error-page>
        <error-code>500</error-code>
        <location>/error/error.jsf</location>
    </error-page>
    
    <!-- Servicio no disponible -->
    <error-page>
        <error-code>503</error-code>
        <location>/error/error.jsf</location>
    </error-page>
</web-app>